{% extends "layout.html" %}

{% block head %}
    <title>Home - Sistema de Medicamentos</title>
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo ao SintoMed</h1>
        <p class="lead">Encontre informações sobre diversos medicamentos de forma rápida e fácil.</p>
        <hr class="my-4">
        <p>Use a barra de navegação para explorar nossos serviços.</p>
        <a class="btn btn-primary btn-lg" href="/contratar" role="button">Contratar Serviços</a>
    </div>
{% endblock %}