{% extends "layout.html" %}

{% block head %}
<style>

</style>
{% endblock %}

{% block body %}
<div>
    <canvas id="graficoMarcas" width="400" height="200"></canvas>
</div>

<script>
fetch("/api/grafico_marcas")
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoMarcas');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.marcas,
                datasets: [{
                    label: 'Medicamentos por Marca',
                    data: data.totais,
                    borderWidth: 1
                }]
            }
        });
    });
</script>

{% endblock %}