{% extends "layout.html" %}

{% block title %}Sobre Nós - SintoMed{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Sobre o SintoMed</h1>
            <p>O SintoMed é uma plataforma dedicada a fornecer informações precisas e atualizadas sobre medicamentos OTC's. Nosso maior objetivo é garantir que os usuários tenham acesso fácil a informações relevantes e confiáveis em relação a esses medicamentos.</p>
        </div>
        <div class="col-md-6">
            <h1>Nosso Time</h1>
            <p>Somos uma equipe de desenvolvedores e profissionais de saúde comprometidos em facilitar o acesso a informações sobre medicamentos.</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="/static/img/bianca-2.jpg" alt="Bianca Cristiane Fagundes de Araújo" class="img-fluid rounded-circle mb-2" />
                        <h3>Bianca Cristiane Fagundes de Araújo</h3>
                        <p>Desenvolvedora Full Stack</p>
                        <div class="row">
                            <div class="col-md-4">
                                <p><a href="https://www.linkedin.com/in/bianca-araujo-fagundes/"><i class="fa-brands fa-linkedin"></i></a></p>
                            </div>
                            <div class="'col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/gu.jpeg" alt="Gustavo Dutra Telles" class="img-fluid rounded-circle mb-2" />
                        <h3>Gustavo Dutra Telles</h3>
                        <p>Desenvolvedor Back End</p>
                        <p><a href="https://www.linkedin.com/in/gustavo-dutra-/"><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="/static/img/maria-2.jpg" alt="Maria Gabriela" class="img-fluid rounded-circle mb-2" />
                        <h3>Maria Gabriela Vieira dos Santos</h3>
                        <p>Desenvolvedora Full Stack</p>
                        <p><a href="https://www.linkedin.com/in/maria-gabriela-vieira-tech/"><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/mateus-2.jpg" alt="Mateus Colmeal Carnevale" class="img-fluid rounded-circle mb-2" />
                        <h3>Mateus Colmeal Carnevale</h3>
                        <p>Desenvolvedor Front End</p>
                        <p><a href="https://www.linkedin.com/in/mateus-carnevale-colmeal-579690303/"><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}