{% extends "layout.html" %}

{% block title %}Sobre Nós - SintoMed{% endblock %}

{% block head %}
<style>
    .subtitle {
        font-size: 1.25rem;
        color: #555;
    }
    .img-fluid {
        max-width: 200px;
        height: auto;
    }
</style>
{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Sobre o SintoMed</h1>
            <p>O SintoMed é uma plataforma dedicada a fornecer informações precisas e atualizadas sobre medicamentos OTC's. Nosso maior objetivo é garantir que os usuários tenham acesso fácil a informações relevantes e confiáveis em relação a esses medicamentos.</p>           
            <h2 class="h2">Motivações da SintoMed</h2>
            <p class="text-secondary">Unimos tecnologia e humanização para tornar o cuidado em saúde mais acessível, rápido e confiável.</p>
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    <div class="card card-soft h-100 p-3">
                    <h3 class="h5">Missão</h3>
                    <p class="text-secondary mb-0">Empoderar pessoas com informações de qualidade e acesso ágil a profissionais de saúde.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card card-soft h-100 p-3">
                    <h3 class="h5">Valores</h3>
                    <p class="text-secondary mb-0">Ética, privacidade, inclusão e excelência clínica no centro de cada interação.</p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-6">
            <h1>Nosso Time</h1>
            <p>Somos uma equipe de desenvolvedores e profissionais de saúde comprometidos em facilitar o acesso a informações sobre medicamentos.</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="/static/img/bianca-2.jpg" alt="Bianca Cristiane Fagundes de Araújo" class="img-fluid rounded-circle mb-2" />
                        <h3 class="subtitle text-center">Bianca Cristiane Fagundes de Araújo</h3>
                        <p class="text-center">Desenvolvedora Full Stack</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a href="https://www.linkedin.com/in/bianca-araujo-fagundes/"><i class="fa-brands fa-linkedin" style="font-size: 30px;"></i></a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="https://github.com/araujozb"><i class="fa-brands fa-github" style="font-size: 30px;"></i></a></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/gu.jpeg" alt="Gustavo Dutra Telles" class="img-fluid rounded-circle mb-2" />
                        <h3 class="subtitle text-center">Gustavo Dutra Telles</h3>
                        <p class="text-center">Desenvolvedor Back End</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a href="https://www.linkedin.com/in/gustavo-dutra-/"><i class="fa-brands fa-linkedin" style="font-size: 30px; color: var(--5);"></i></a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="https://github.com/snowdutra"><i class="fa-brands fa-github" style="font-size: 30px;"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="/static/img/maria-2.jpg" alt="Maria Gabriela" class="img-fluid rounded-circle mb-2" />
                        <h3 class="subtitle text-center">Maria Gabriela Vieira dos Santos</h3>
                        <p class="text-center">Desenvolvedora Full Stack</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a href="https://www.linkedin.com/in/maria-gabriela-vieira-tech/"><i class="fa-brands fa-linkedin" style="font-size: 30px;"></i></a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="https://github.com/mariagabriela-tech"><i class="fa-brands fa-github" style="font-size: 30px;"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/mateus-2.png" alt="Mateus Colmeal Carnevale" class="img-fluid rounded-circle mb-2" />
                        <h3 class="subtitle text-center">Mateus Colmeal Carnevale</h3>
                        <p class="text-center">Desenvolvedor Front End</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a href="https://www.linkedin.com/in/mateus-carnevale-colmeal-579690303/"><i class="fa-brands fa-linkedin" style="font-size: 30px;"></i></a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="https://github.com/colmeal"><i class="fa-brands fa-github" style="font-size: 30px;"></i></a></p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}