img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;

}

@font-face{
	font-family: Chetta;
	src: url("../fonts/ChettaVissto.ttf") format("truetype");
}

:root {
	--cor-1: #b40a10;
	--cor-2: #ed1d24;
	--cor-3: #51ace4;
	--cor-4: #3477a6;
	--cor-5: #215274;
	--cor-6: #0097a7;
	--cor-7: #00838f;
	--cor-8: #006064;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	font-family: Chetta,;
}

.navbar {
	background: linear-gradient(50deg, var(--cor-4), var(--cor-5), var(--cor-6));
	backdrop-filter: blur(30px);
	border-bottom: 1px solid rgba(169, 214, 229, 0.15);
	box-shadow: 0 4px 12px rgba(1, 66, 122, 0.4);
	border-radius: 80px;
	margin: 20px;
}
.navbar a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 1.1rem;
}

.navbar-collapse {
	justify-content: center;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Chetta;
}