img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	background: linear-gradient(45deg, var(--cor-1), var(--cor-2), var(--cor-3), var(--cor-4));

}

:root {
	--cor-1: #012a4a;
    --cor-2: #013a63;
    --cor-3: #01497c;
    --cor-4: #014f86;
    --cor-5: #2a6f97;
    --cor-6: #2c7da0;
    --cor-7: #468faf;
    --cor-8: #61a5c2;
    --cor-9: #89c2d9;
    --cor-10: #a9d6e5;

}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	font-family: Signika Negative;
}

.navbar {
	background: linear-gradient(50deg, rgba(4, 41, 74, 0.47), rgba(42, 111, 151, 0.489));
	backdrop-filter: blur(30px);
	border-bottom: 1px solid rgba(169, 214, 229, 0.15);
	box-shadow: 0 4px 12px rgba(1, 66, 122, 0.4);
	border-radius: 80px;
	margin: 20px;
}
.navbar a {
	color: var(--cor-10);
	text-decoration: none;
	font-size: 1.1rem;
}

.navbar-collapse {
	justify-content: center;
}

h1 {
    color: var(--cor-10);
    text-shadow: 0 4px 12px rgba(1, 66, 122, 0.4);
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    position: relative;
}

p, h2, h3, h4, h5, h6 {
	text-shadow: 0 4px 12px rgba(1, 66, 122, 0.4);
	color: var(--cor-10);
}


.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

